body {
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.nav-bar {
    text-align: right;
    position: right;
    display: inline-block;
}

.nav-bar-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.nav-bar:hover .nav-bar-content {
    display: block;
}
